c:\Users\boppa\OneDrive\Pictures\arborio2.jpg
c:\Users\boppa\OneDrive\Pictures\basmati1.jpg
c:\Users\boppa\OneDrive\Pictures\brown1.jpg
c:\Users\boppa\OneDrive\Pictures\jasmine1.jpg
c:\Users\boppa\OneDrive\Pictures\red7.jpg